<ol>
  <% @art_videos.each do |video| %>
      <li><a href=<%= "/videos/#{video.id}" %>><%= "Name: #{video.title} - Category: #{video.subject.name}" %></a></li>
  <% end %>
</ol>

<ol>
  <% @graphic_videos.each do |video| %>
      <li><a href=<%= "/videos/#{video.id}" %>><%= "Name: #{video.title} - Category: #{video.subject.name}" %></a></li>
  <% end %>
</ol>

<form method="post" action="/videos">
  <label for="title">Title</label>
  <input type="text" name="title"/>
  <label for="category">Category</label>
  <input type="text" name="category"/>
  <input type="submit"/>
</form>