<h1><%= @video.title %></h1>

<p><%= @video.subject.name %></p>
<a href=<%= "/videos/#{@video.id}/edit" %>>Edit</a>
<form method="post" action=<%= "/videos/#{@video.id}/delete" %>>
  <input type="submit">Destroy</input>
</form>
<a href="/videos">Back</a>
